### all ignore ###
/*
/.**

### not ignore ###
# dotfiles management
!dotlink
!link_dotfiles.sh

# Mac
!Brewfile

# zsh
!/.zshrc
!/.zshenv
!/.zfunc/
/.zfunc/** # ディレクトリは管理したいけど中身はいらない場合
!/.zsh/
!/.zsh/dircolors
!/.zsh/rc/
!/.zsh/rc/**
!/.zsh/zkbd/
!/.zsh/zkbd/**
!/.zsh/zfunc/
!/.zsh/zfunc/**
!/.zsh/completion/
/.zsh/completion/**

.zshrc.local
.zprezto
.zsh_history

# bash
!/.bash_profile
!/.bashrc
.bash_history
.bash_sessions

# VS Code
!.vscode/extensions.txt
!.vscode/snippets
!.vscode/keybindings.json
!.vscode/settings.json
!.vscode/write_vscode_settings.sh
!.vscode/load_vscode_settings.sh
!.mume

.vscode/extensions

# Vim
!/.virc
!/.vimrc
!/.vim/
!/.vim/*/
!/.vim/rc/
!/.vim/rc/**
!/.vim/ftplugin/**
!/.vim/ftdetect/**
!/.vim/template/**
!/.vim/snippets/**
!/.vim/after/**
!/.vim/init.vim
!/.vim/coc-settings.json

.vim/bundle/
.vim/dein/
.vim/.netrwhist
.vimrc_sample

# bin
!/.bin/
!/.bin/**
!/.bin.local

# tmux
!/.tmux.conf
!/.tmux/
!/.tmux/conf/
!/.tmux/conf/**
!/.tmux/log/

# git
!/.gitignore_global
!/.gitconfig_shared
!/README.md
!/LICENSE
!.gitignore
!.gitkeep
!.config/git/ignore

.gitconfig

# Github
!/.github/**

# Others
!/.gdbinit
!/.conkycolors/
!/.conkycolors/**
!/.i3/
!/.i3/**
/.i3/config
/.i3/config.local
!/.ideavimrc
!/.Xmodmap
!/.Xresources
!/.xinitrc
!/.xprofile
!/.xsessionrc
!/.config/
!/.config/**

### Must be ignored files ###
# Credentials
.ssh
.aws
.env

# Other ignored files
.cups
.CFUserTextEncoding
